@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);

  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  background-color: white;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1);
  max-width: 100%;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

button {
  background-color: #9f5cb9;
  display: block;
  width: 100%;
  padding: 1.3rem;
  font-family: inherit;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: #973dbb;
}
