@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("./david-marcu-78A265wPiO4-unsplash.jpg");
    min-height:100vh;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    margin: 0;

}